@page {
  size: 5.5in 8.5in;  
  margin: 70pt 60pt 70pt;
}

.abc-notation-block {
  page-break-before: always;
  width: 750px;
}

body {
	font-family: "Lato,Helvetica Neue,Helvetica,sans-serif";
}

h2 {
  page-break-before: always;
}
